@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if(User.IsInRole("Patient"))
                {
        <a  class="nav-link text-dark" asp-area="Patient" asp-controller="Medcard" asp-action="Index"  title="Manage">Моя Медкарта</a>
                }
        <form  class="form-inline" asp-area="" asp-controller="Login" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
        </form>
}
else
{
     <a asp-controller="Login" asp-action="Index" class="appointment-btn"> Авторизация</a>
}
