@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <nav class="navbar ml-auto">
    <ul>
        <li>
            <form  class="form-inline" asp-area="" asp-controller="Login" asp-action="Logout">
            <button  type="submit" class="nav-link btn">Выйти</button>
        </form>
        </li>
    </ul></nav>
}
else
{
     <a asp-controller="Login" asp-action="Index" class="appointment-btn ml-auto"> Авторизация</a>
}
