@using testing.Areas.Patient.Views.Shared
@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.MedcardNavClass(ViewContext)" asp-area="Patient" asp-controller="Medcard" asp-action="Index" >Общая информация</a></li>
   <li class="nav-item"><a class="nav-link @ManageNavPages.HistoryNav(ViewContext)" asp-area="Patient" asp-controller="History" asp-action="Index" >История посещений</a></li>
</ul>
