@model testing.Models.RegisterUserVM

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Регистрация менеджера</h1>

<hr />
<div class="row m-auto">
    <div class="col-md-6 m-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div></div>
                <div class="col">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            </div>
                <div class="col">
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            </div>
                </div>
            <div class="row">
            <div class="col">
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"  >
                <option disabled selected>Выбрать...</option>
            </select>                
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div></div></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="row">
            <div class="col">
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input id="phone1" type="text" asp-for="Phone" class="form-control" placeholder="+38 (000) 000-00-00" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div></div></div>
                      <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#phone1").mask("+99 (000) 000-00-00");
    });
</script>
