@model testing.Models.Declaration

@{
    ViewData["Title"] = "Create";
}

    <div class=" row">
            <div class="modal-dialog w-50">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="decModallabel">Оформление декларации</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Create">
                            @Html.HiddenFor(m => m.SignDate)
                            <div class="form-group">
                                <label class="control-label">Выберите пациента</label>
                                <select id="patientSelect" asp-for="MedcardId" class="form-control selectlist" asp-items="ViewBag.MedcardId"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Выберите семейного врача</label>
                                <select asp-for="DoctorId" class="form-control selectlist" asp-items="ViewBag.DoctorId"></select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <input type="submit" class="btn btn-primary" value="Создать декларацию" />
                            </div>
                        </form>
    </div>
</div>
</div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
        $(".selectlist").select2();
        });
    </script>
}
