@model testing.ViewModels.ScheduleVM

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<div class="row">
            <div class="modal-dialog w-100 mw-700">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="scModalLabel">Запись на прием</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                          <div class="col">
                              <form asp-action="Create">
                              <div class="row">
                                  <div class="col">
                                      <label class="control-label">Выберите врача</label>
                                <select id="patientSelect" asp-for="DoctorId" class="form-control selectlist" asp-items="ViewBag.DoctorId"></select>
                                  </div>
                              </div>
                                  <div class="row">
                                      <div class="col">
                                      <label class="control-label">Начало смены</label>
                                      <input asp-for="DateTimeStart" type="datetime-local" class="form-control"/>
                                      </div>
                                      <div class="col">
                                      <label class="control-label">Конец смены</label>
                                      <input asp-for="DateTimeEnd" type="datetime-local" class="form-control"/>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <input type="submit" class="btn btn-primary" value="Записаться" />
                            </div>

                              </form>
                          </div>
                      </div> 
                    </div>
                                                </div>
                    </div>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                    </div>