@model testing.Models.Historymedication;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860k
*@
@{
}
@using HtmlHelpers.BeginCollectionItemCore;
@using (Html.BeginCollectionItem("HMedications"))
{
    @Html.HiddenFor(m => m.HistoryId)
    <div id="removeAddMoreMeds" class="col-xs-12 col-sm-12 form-group px-0">
        <div class="row">
            <div class="col-4">
            <div class="form-group">
            <label  class="control-label">Препарат</label>
            <select asp-for="MedicationId" asp-items="ViewBag.Medication" class="form-control"  >
                <option disabled selected>Выбрать...</option>
            </select>                
                <span asp-validation-for="MedicationId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-7">
            <div class="form-group">
            <label  asp-for="Dose" class="control-label">Правила приема</label>
                <input asp-for="Dose" type="text"  class="form-control" />
            </div>
            </div>
            <div class="col-1 px-1">
                <div class="container wh-100 mt-4 pt-1 float-right mx-0 px-0">
                <a class="float-right btn removeDivMeds hoverable text-center" ><i class="fa-solid text-danger fa-minus"></i></a>
            </div>
            </div>
        </div>
    </div>
}
<script>
    $(".removeDivMeds").click(function () {
        $(this).parents("#removeAddMoreMeds").remove();
    });
</script>

