@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model testing.ViewModels.HistoryVM;
@{
    var mod = Model;
    var placeholder = 1;
}
<div class="container">

    @using(@Html.BeginForm("Create", "History", FormMethod.Post)){
        @Html.HiddenFor(m => m.appointmentId)
            <div class="form-row justify-content-between">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" placeholder="Имя" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <select asp-for="Diagnosis" asp-items="ViewBag.Documents" class="form-control">
                    <option disabled selected>Выбрать...</option>
                </select>                
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            </div>
            </div>
            <button type="submit" value="submit" class="btn btn-primary"></button>
    }

    


</div>

